/*
We want the following properties for the root (div) element:
It should always fill the backgroud  (and register as the target of
  drop events when there's nothing above it).
If the elements inside it extend below the screen,
  we should be able to scroll down (and it should still fill the background).
If the elements inside do not extend below the screen,
  the page should not be scrollable.

I can't easily find a way to do all of these, so there's some code
 which redirects drops on the backgroud to the root
*/
#root{
  position: absolute;
  width: 100%;
  height: 60%;
  overflow-y: scroll;
  overflow-x: auto;
}
#imports{
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0px;
  background: #EEE;
  overflow-x: scroll;
  writing-mode: vertical-lr;
}
#imports div{
  writing-mode: horizontal-tb;
}
html,body{
  margin: 0px;
  padding:0px;
  overflow:hidden;
}
.hidden{
  display: none;
}
.invisible{
  visibility: hidden;
}
path{
  stroke-width: 0.6;
}
#hsTerm{
  position: absolute;
  bottom:0px;
}
#entry{
  position: absolute;
  top:0px;
}
#manual{
  position:absolute;
  right:0px;
  text-align:right;
  max-width:50%;
  color:grey;
  pointer-events: none;
  overflow-y: scroll;
  padding-right: 5px;
}
#reduceButton{
  position:absolute;
  right:10px;
}

.box{
  user-select: none;/* stops people dragging text inside boxes */
  display: inline-block;
  z-index: 0;
  position: relative;
  padding: 0px;
  border-width:0px;
  margin: 1px;
  vertical-align: middle;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  background-clip: padding-box; /* means that the background isn't seen behind the transparent parts of the border image  */
  /*line-height: 0;*/
  /*font-size: 0;*/
  border-image-width: 5px;
  border-image-repeat: round;
  border-image-source: url(data:image/svg+xml;whatever);
  border-image-slice: 21%;
  /*border-image-outset: 0px;*/
}
.box{
  cursor: grab;
}
.defn{
  border-image-source: none;
}
.hole{
  padding: 1px;/*consider setting this to 0*/
}
.filled{
  padding: 0px;
  border-width: 0px;
  margin: 1px;
  border-image-outset: -5px;
  background-color: transparent !important;
  border-image-width: 0px;
}
.filling{
  margin:0px;
}
.filled>.box{
  display: none;
}
.filled>.filling{
  display: inline-block;
}
.box:hover{
  padding: 2px;
}
.box:empty{
  padding: 5px;
}
.box:empty:hover{
  padding: 6px;
}
#root > .box{
  position: absolute;
}
.dragging{
  z-index: 10;
}
